
.SERVICIO_upload > .ant-upload-list > .ant-upload {
  width: 60% !important;
  height: 300px !important;
}


.SERVICIO_upload > .ant-upload-list > .ant-upload-list-item-container > .ant-upload-list-item{
  width: 100% !important;
  height: 300px !important;
}

.SERVICIO_upload_icon{
  padding-top: 5px;
}

.SERVICIO_upload_icon > .ant-upload-list > .ant-upload-list-item-container {
  width: 100% !important;
  height: 117px !important;
}

.SERVICIO_upload_icon > .ant-upload-list > .ant-upload-list-item-container > .ant-upload-list-item{
  width: 100% !important;
  height: 106px !important;
}


.pagina_SERVICIO{
  float: left;
  bottom: 85px;
  position: fixed;
  width: 80%;
  font-size: 12px;
  margin-left: 4px;
  color: #909294;
}