body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;    
}

.login-form-container {
  width: 430px;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.15);
  margin-top: -45px;
}

.login-header {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
}

.login-input {
  border-radius: 5px;
}

.login-button {
  border-radius: 5px;
}
.login-button {
  border-radius: 4px;
}

.anticon-user svg{
  color: #587f85;
}
.anticon-lock svg{
  color: #587f85;
}

/* Login.css */
/* Resto de los estilos como en versiones anteriores */

.login-header {
text-align: center;
margin-bottom: 24px;
}

.logo {
max-width: 150px;
margin-bottom: 20px;
box-shadow: 4px 4px 6px rgb(88 127 133 / 27%);
}

.login-title {
font-size: 24px;
margin: 0px;
color: #0a4b55;   
}



.ant-btn-primary {
background-color: #0a4b55;
}
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
background-color: #0a4b55cf;
}
.ant-btn:not(:disabled):focus-visible {
outline: 4px solid #0a4b5536;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
border-color: #587f85;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
border-color: #3e99a7;
}

.card-login > .ant-card-body{
padding:25px 30px 0px 30px !important;
}